asgiref
certifi
crispy-bootstrap5
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
Markdown
numpy
opencv-contrib-python
pillow
psycopg2-binary
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
pytweening
pytz
setuptools
sqlparse
typing-extensions
wheel
